
@{
    <!--String messages to output user values-->
    string messageFname = "";
    string messageSname = "";
    string messageIban = "";
    string messageDob = "";
    string messageHeight = "";
    string messageEmail = "";
    string messageNumber = "";
    string messageGender = "";
    string messagePartner = "";
    string messageRelationship = "";
    string messageIntrests = "";
    

    if (IsPost && Validation.IsValid())
    {
        
       Session ["fname"] = Request.Form["fname"];

       Session ["sname"] = Request.Form["sname"];

       Session  ["iban"] = Request.Form["iban"];

       Session ["email"] = Request.Form["email"];

       Session ["dob"] = Request.Form["dob"];

       Session ["height"] = Request.Form["height"];

       Session ["number"] = Request.Form["number"];

       Session ["gender"] = Request.Form["gender"];

       Session ["partnerPreference"] =  Request.Form["partnerPreference"];

       Session ["relationshipStatus"] = Request.Form["relationshipStatus"];

       Session ["interests"] = Request.Form["interests"];

        Response.Redirect("Details.cshtml");
    }


    Validation.Add("fname", Validator.Required("Please enter a first name"));
    Validation.Add("iban", Validator.Required("Please enter an IBAN"));
    Validation.Add("email", Validator.Required("Please enter an email"));
    Validation.Add("sname", Validator.Required("Please enter a surname"));
    Validation.Add("dob", Validator.DateTime());
    Validation.Add("height", Validator.Range(130,220, "Invalid Height"));

    if (IsPost && Validation.IsValid())
    {
       Session ["fname"] = "Your first name is: " + Request.Form["fname"];
        messageSname = "Your surname is: " + Request.Form["sname"];
        messageIban = "Your IBAN is: " + Request.Form["iban"];
        messageEmail = "Your email is: " + Request.Form["email"];
    }





    }



<!DOCTYPE html>
<html>
<head>
    <title>Form</title>

    <!--Style sheet used for design of website-->
    <link href="FormStyle.css" rel="stylesheet" />
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=yes" />

</head>
<body>

    <!--Form for user typed details-->
    
    <form method="post">

        <div>
            <label for="fname">First Name:</label>
            <input type="text" id="fname" name="fname" pattern="[A-Za-z]{1,}" placeholder="John" value="@Request.Form["fname"]"  />
            @Html.ValidationMessage("fname")
        </div>

        <div>
            <label for="sname">Last Name:</label>
            <input type="text" id="sname" name="sname" pattern="[A-Za-z]{1,}" placeholder="Doe" value="@Request.Form["sname"]" />
            @Html.ValidationMessage("sname")
        </div>

        <label for="iban">IBAN:</label>
        <input type="text" id="iban" name="iban" placeholder="IE29AIBK93115212345678" pattern="^IE\d{2}\s?([0-9a-zA-Z]{4}\s?){4}[0-9a-zA-Z]{2}" value="@Request.Form["iban"]"  />
        @Html.ValidationMessage("iban")
        <div>
            <label for="dob">D.O.B:</label>
            <input type="date" id="dob" name="dob" min="1960-12-31" max="1998-12-31" value="@Request.Form["dob"]"  />
        </div>

        <div>
            <label for="height">Height (cm):</label>
            <input type="number" id="height" name="height"  placeholder="170" value="@Request.Form["height"]" />
            @Html.ValidationMessage("height")
        </div>

        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" placeholder="JohnDoe@yawee.com" value="@Request.Form["email"]" />
            @Html.ValidationMessage("email")
        </div>

        <div>
            <label for="number">Number (+353):</label>
            <input type="text" id="number" name="number" placeholder="856246034" pattern="[8][0-9]{8}" value="@Request.Form["number"]" />
        </div>

        <fieldset>
            <!--User Choice for sex-->
            <legend>Gender</legend>

            <div>
                <input type="radio" name="gender" id="male" value="Male" @(Request.Form["gender"] == "Male" ? "checked" : "")  />
                <label for="male">Male</label>
            </div>

            <div>
                <input type="radio" name="gender" id="female" value="Female"  @(Request.Form["gender"] == "Female" ? "checked" : "")  />
                <label for="female">Female</label>
            </div>
        </fieldset>

        <fieldset>
            <!--User choice for Partner preference-->
            <legend>What Is Your Partner Preference</legend>
            <div>
                <input type="radio" id="men" name="partnerPreference" value="Men" @(Request.Form["partnerPreference"] == "Men" ? "checked" : "") />
                <label for="men">Men</label>
            </div>

            <div>
                <input type="radio" id="women" name="partnerPreference" value="Women" @(Request.Form["partnerPreference"] == "Women" ? "checked" : "") />
                <label for="women">Women</label>
            </div>

            <div>
                <input type="radio" id="either" name="partnerPreference" value="Either" @(Request.Form["partnerPreference"] == "Either" ? "checked" : "")/>
                <label for="either">Either</label>
            </div>

        </fieldset>

        <fieldset>
            <!--User choice for relationship status-->
            <legend>Relationship Status</legend>

            <div>
                <input type="radio" name="relationshipStatus" id="single" value="Single" @(Request.Form["relationshipStatus"] == "Single" ? "checked" : "") />
                <label for="single">Single</label>
            </div>

            <div>
                <input type="radio" name="relationshipStatus" id="married" value="Married" @(Request.Form["relationshipStatus"] == "Married" ? "checked" : "") />
                <label for="married">Married</label>
            </div>

            <div>
                <input type="radio" name="relationshipStatus" id="inRelationship" value="In Relationship" @(Request.Form["relationshipStatus"] == "In Relationship" ? "checked" : "") />
                <label for="inRelationship">Relationship</label>
            </div>

            <div>
                <input type="radio" name="relationshipStatus" id="widowed" value="Widowed" @(Request.Form["relationshipStatus"] == "Widowed" ? "checked" : "") />
                <label for="widowed">Widowed</label>
            </div>

        </fieldset>

        <fieldset>
            <!--User choice for interests-->
            <legend>Intrests</legend>

            <div>
                <input type="checkbox" name="interests" id="OutDoorSports" value="Outdoor Sports" @(Request.Form["interests"] ==  "Outdoor Sports" ? "checked" : "")/>
                <label for="OutDoorSports">Outdoor Sports</label>
            </div>

            <div>
                <input type="checkbox" name="interests" id="Movies" value="Movies" @(Request.Form["interests"] ==  "Movies" ? "checked" : "")/>
                <label for="Movies">Movies</label>
            </div>

            <div>
                <input type="checkbox" name="interests" id="Music" value="Music" @(Request.Form["interests"] ==  "Music" ? "checked" : "")/>
                <label for="Music">Music</label>
            </div>

            <div>
                <input type="checkbox" name="interests" id="Gaming" value="Gaming" @(Request.Form["interests"] ==  "Gaming" ? "checked" : "") />
                <label for="Gaming">Gaming</label>
            </div>

            <div>
                <input type="checkbox" name="interests" id="books" value="Books" @(Request.Form["Books"] ==  "selected" ? "checked" : "")/>
                <label for="books">Books</label>
            </div>

            <div>
                <input type="checkbox" name="interests" id="drinking" value="Drinking" @(Request.Form["Drinking"] ==  "selected" ? "checked" : "")>
                <label for="drinking">Drinking</label>
            </div>

        </fieldset>

        <input type="submit" value="Submit" />
        

        
    </form>

</body>
</html>