
@{
    <!--String messages to store and output user values-->
    string messageFname = "";
    string messageSname = "";
    string messageIban = "";
    string messageEmail = "";
    string messageDob = "";
    string messageHeight = "";
    string messageNumber = "";
    string messageGender = "";
    string messagePartner = "";
    string messageRelationship = "";
    string messageInterests = "";


    if (IsPost)
    {
        #region
        //Validators for user inputs 
        Validation.Add("fname", Validator.Required("Please enter a first name"));
        Validation.Add("iban", Validator.Required("Please enter an IBAN"));
        Validation.Add("email", Validator.Required("Please enter an email"));
        Validation.Add("sname", Validator.Required("Please enter a surname"));
        Validation.Add("dob", Validator.DateTime());
        Validation.Add("height", Validator.Range(130, 220, "Invalid Height"));
        Validation.Add("iban", Validator.Regex(@"^IE\d{2}\s?([0-9a-zA-Z]{4}\s?){4}[0-9a-zA-Z]{2}", "Invalid IBAN"));
        Validation.Add("number", Validator.Regex(@"[8][0-9]{8}", "Invalid Phone Number"));

        if (Validation.IsValid())
        {
            //Session states for the user input 
            Session["fname"] = Request.Form["fname"];

            Session["sname"] = Request.Form["sname"];

            Session["iban"] = Request.Form["iban"];

            Session["email"] = Request.Form["email"];

            Session["dob"] = Request.Form["dob"];

            Session["height"] = Request.Form["height"];

            Session["number"] = Request.Form["number"];

            Session["gender"] = Request.Form["gender"];

            Session["partnerPreference"] = Request.Form["partnerPreference"];

            Session["relationshipStatus"] = Request.Form["relationshipStatus"];

            Session["interests"] = Request.Form["interests"];

            Response.Redirect("Details.cshtml");
        }
        else
        {
            messageFname = Request.Form["fname"];
            messageSname = Request.Form["sname"];
            messageIban = Request.Form["iban"];
            messageDob = Request.Form["dob"];
            messageHeight = Request.Form["height"];
            messageEmail = Request.Form["email"];
            messageNumber = Request.Form["number"];
            messageGender = Request.Form["gender"];
            messagePartner = Request.Form["partnerPreference"];
            messageRelationship = Request.Form["relationshipStatus"];
            messageInterests = Request.Form["interests"];

        }

    }
    #endregion
    else
    #region

    {
        if ((Session["fname"] != null || Session["sname"] != null || Session["iban"] != null || Session["dob"] != null || Session["height"] != null ||
        Session["email"] != null || Session["number"] != null || Session["gender"] != null || Session["partnerPreference"] != null
        || Session["relationshipStatus"] != null || Session["interests"] != null))
        {
            messageFname = (string)Session["fname"];
            messageSname = (string)Session["sname"];
            messageIban = (string)Session["iban"];
            messageDob = (string)Session["dob"];
            messageHeight = (string)Session["height"];
            messageEmail = (string)Session["email"];
            messageNumber = (string)Session["number"];
            messageGender = (string)Session["gender"];
            messagePartner = (string)Session["partnerPreference"];
            messageRelationship = (string)Session["relationshipStatus"];
            messageInterests = (string)Session["interests"];
        }

      
    }
    #endregion




    }



<!DOCTYPE html>
<html>
<head>
    <title>Love Nest</title>

    <!--Style sheet used for design of website-->
    <link href="FormStyle.css" rel="stylesheet" />
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=yes" />
    <link rel="icon" href="http://www.freeiconspng.com/uploads/heart-png-15.png" />

</head>
<body>

    <!--Form for user typed details-->
    
    <form  method="post">

        <div>
            <label for="fname">First Name:</label>
            <input type="text" id="fname" name="fname" pattern="[A-Za-z]{1,}" placeholder="John" value="@messageFname" autocomplete="on"  />
            @Html.ValidationMessage("fname")
        </div>

        <div>
            <label for="sname">Last Name:</label>
            <input type="text" id="sname" name="sname" pattern="[A-Za-z]{1,}" placeholder="Doe" value="@messageSname" />
            @Html.ValidationMessage("sname")
        </div>

        <label for="iban">IBAN:</label>
        <input type="text" id="iban" name="iban" placeholder="IE29AIBK93115212345678" value="@messageIban"  />
        @Html.ValidationMessage("iban")
        <div>
            <label for="dob">D.O.B:</label>
            <input type="date" id="dob" name="dob" min="1960-12-31" max="1998-12-31" value="@messageDob"  />
        </div>

        <div>
            <label for="height">Height (cm):</label>
            <input type="number" id="height" name="height"  placeholder="170" value="@messageHeight" />
            @Html.ValidationMessage("height")
        </div>

        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" placeholder="JohnDoe@yawee.com" value="@messageEmail" />
            @Html.ValidationMessage("email")
        </div>

        <div>
            <label for="number">Number (+353):</label>
            <input type="text" id="number" name="number" placeholder="856246034" value="@messageNumber" />
        </div>

        <fieldset>
            <!--User Choice for sex-->
            <legend>Gender</legend>

            <div>
                <input type="radio" name="gender" id="male" value="Male" @(messageGender == "Male" ? "checked" : "")  />
                <label for="male">Male</label>
            </div>

            <div>
                <input type="radio" name="gender" id="female" value="Female"  @(messageGender == "Female" ? "checked" : "")  />
                <label for="female">Female</label>
            </div>
        </fieldset>

        <fieldset>
            <!--User choice for Partner preference-->
            <legend>What Is Your Partner Preference</legend>
            <div>
                <input type="radio" id="men" name="partnerPreference" value="Men" @(messagePartner == "Men" ? "checked" : "") />
                <label for="men">Men</label>
            </div>

            <div>
                <input type="radio" id="women" name="partnerPreference" value="Women" @(messagePartner == "Women" ? "checked" : "") />
                <label for="women">Women</label>
            </div>

            <div>
                <input type="radio" id="either" name="partnerPreference" value="Either" @(messagePartner == "Either" ? "checked" : "")/>
                <label for="either">Either</label>
            </div>

        </fieldset>

        <fieldset>
            <!--User choice for relationship status-->
            <legend>Relationship Status</legend>

            <div>
                <input type="radio" name="relationshipStatus" id="single" value="Single" @(messageRelationship == "Single" ? "checked" : "") />
                <label for="single">Single</label>
            </div>

            <div>
                <input type="radio" name="relationshipStatus" id="married" value="Married" @(messageRelationship == "Married" ? "checked" : "") />
                <label for="married">Married</label>
            </div>

            <div>
                <input type="radio" name="relationshipStatus" id="inRelationship" value="In Relationship" @(messageRelationship == "In Relationship" ? "checked" : "") />
                <label for="inRelationship">Relationship</label>
            </div>

            <div>
                <input type="radio" name="relationshipStatus" id="widowed" value="Widowed" @(messageRelationship == "Widowed" ? "checked" : "") />
                <label for="widowed">Widowed</label>
            </div>

        </fieldset>

        <fieldset>
            <!--User choice for interests-->
            <legend>Intrests</legend>

            <div>
                <input type="checkbox" name="interests" id="OutDoorSports" value="Outdoor Sports" @(messageInterests ==  "Outdoor Sports" ? "checked" : "")/>
                <label for="OutDoorSports">Outdoor Sports</label>
            </div>

            <div>
                <input type="checkbox" name="interests" id="Movies" value="Movies" @(messageInterests ==  "Movies" ? "checked" : "")/>
                <label for="Movies">Movies</label>
            </div>

            <div>
                <input type="checkbox" name="interests" id="Music" value="Music" @(messageInterests ==  "Music" ? "checked" : "")/>
                <label for="Music">Music</label>
            </div>

            <div>
                <input type="checkbox" name="interests" id="Gaming" value="Gaming" @(messageInterests ==  "Gaming" ? "checked" : "") />
                <label for="Gaming">Gaming</label>
            </div>

            <div>
                <input type="checkbox" name="interests" id="books" value="Books" @(messageInterests ==  "selected" ? "checked" : "")/>
                <label for="books">Books</label>
            </div>

            <div>
                <input type="checkbox" name="interests" id="drinking" value="Drinking" @(messageInterests ==  "selected" ? "checked" : "")>
                <label for="drinking">Drinking</label>
            </div>

        </fieldset>

        <input type="submit" value="Submit" />

        
    </form>

</body>
</html>